<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="BearsConnection" connectionString="Data Source=myinstancedemo.chppvnuzl4vk.us-east-1.rds.amazonaws.com,1433;Initial Catalog=BearDB;Persist Security Info=True;User ID=stephenkirkland;Password=12345678;Encrypt=False;" />
  </connectionStrings>
  
</configuration>